body{
    margin:2%;
    font-family: Arial, Helvetica, sans-serif;
}

#hello{
    font-size: 20px;
    text-align: left;
}

h2{
    font-size: 30px;
    color: palevioletred;
    font-weight: 700;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.half-width{
    width: 32%;
    float: left;
    margin-left: 8%;
    padding-left: 4%;
}

.half-width img{
width: 80%;
}

.header-bg{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 1350px 500px;
    background-position: left;
}


section{
    height: 500px;
    padding-bottom: -5%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, palevioletred, pink);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.biography{

    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 1350px 500px;
    background-position: top;
}
h1{
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  h5{
      text-align: center;
      font-size: 12px;
      font-weight: 700;
  }

 .loren{
     text-align: center;
     line-height: 0.2;
 }

 .bruce{
     text-align: center;
     line-height: 0.1;
 }

 #CEO{
     color: gray;
 }

 .link-button-2{
     width: 400px;
     height: 90px;
     text-decoration: none;
    background-image: linear-gradient(45deg, palevioletred, red);
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 35%;
  margin-right: 40%;
      
 }

 .footer{
     background-image: url(images/footer-bg.png);
     background-repeat: no-repeat;
    background-size: 1350px 500px;
 }
      

